header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0 30px;
    background: transparent;
    transition: background ease .3s;
}

header.black {
    background-color: rgba(0, 0, 0, .9);
}

.header--logo img {
    width: 150px;
    height: 100%;
}

.header--avatar img {
    width: 50px;
    height: 50%;
}